.container {
    width: 500px;
    height:300px;
    background-color: aqua;
    overflow: scroll;
    display: inline-block;
    font-weight: bold;
    
}

.container2 {
    width: 500px;
    height:300px;
    background-color: aqua;
    overflow: hidden;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}